<h1 class="block">List of All Leagues</h1>
<div class="column1-unit">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
		<% if logged_in? %>
			<td><%= link_to 'New league', new_league_path %></td>
		<% end %>
	  </tr>

	<% for league in @leagues %>
	  <tr>
	    <td><%= link_to league.name, league %></td>
	    <td><%=h league.description %></td>
		<% if logged_in? %>
		    <td><%= link_to 'Show', league %> |
				<%= link_to 'Edit', edit_league_path(league) %> |
				<%= link_to 'Destroy', league, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		<% end %>
	  </tr>
	<% end %>
	</table>
</div>
