<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@league) %>
<h1 class="block"><%=h @league.name %></h1>

<div class="column1-unit">
<h2><%=h @league.description %></h2>
<% if logged_in? %>
	<%= link_to 'Edit this League', edit_league_path(@league) %> | 
<% end %>
<%= link_to 'List of All Leagues', leagues_path %>
</div>
<hr class="clear-contentunit" />

<h1 class="block">League Standings and Tournament Results</h1>
<div class="column1-unit" class="tiles-list">
	<ul class="tile-list">
	<li>
		<div class="standings-tile">
			<div class="tile-square-numbox"></div>
			<div class="tile-picbox"><IMG SRC="http://localhost:3000/images/players/_default.jpg"></div>
			<div class="tile-textbox">
				<div class="tile-top-line"> </div>
				<div class="tile-bottom-line">
					<div class="tile-bottom">
					</div>
				</div>
			</div>
			<% for tournament in @report[:tournaments] -%>
			<div class="tile-square-datebox">
				<A href="<%= league_tournament_path(@league, tournament) %>"><%= tournament.formatted_start(:short) %></A>
			</div>
			<% end %>
			<div  style="clear: both"> </div>
		</div>
	</li>
	<% @report[:players].each_with_index do |player, position| %>
	<li>
		<div id='_tile' class="standings-tile">
			<div class="tile-square-numbox"><%=position+1%></div>
			<div class="tile-picbox"><%= link_to player.image_url_link, player %></div>
			<div class="tile-textbox">
				<div class="tile-top-line"><a href="<%= player_path(player) %>"><%= player.full_name %></a></div>
				<div class="tile-bottom-line">
					<div class="tile-bottom">
						<strong><%= @report[:points][player] %> points</strong>
					</div>
				</div>
			</div>
			<% for tournament in @report[:tournaments] %>
			<div class="tile-square-datebox">
				<% if result = @report[:results][player][tournament] %>
					<%= result.points %>/<%= result.place %>
				<% end %>
			</div>
			<% end %>
			<div  style="clear: both"></div>
		</div>
	</li>
	<% end %>
	</ul>
</div>

<h1 class="block">League Financials</h1>
<div class="column1-unit">
	<% financials = @league.financials %>
	<table>
	<tr><td>Total Buy-ins</td><td><%= financials[0] %></td></tr>
	<tr><td>Less total payouts</td><td><%= financials[1] %></td></tr>
	<tr><td>Total in Prize Pool</td><td><%= financials[0] - financials[1] %></td></tr>
	</table>
</div>