<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@league) %>
<h1 class="block"><%=h @league.name %></h1>

<div class="column1-unit">
<h2><%=h @league.description %></h2>
<% if logged_in? %>
	<%= link_to 'Edit this League', edit_league_path(@league) %> | 
<% end %>
<%= link_to 'List of All Leagues', leagues_path %>
</div>
<hr class="clear-contentunit" />

<h1 class="block">League Standings and Tournament Results</h1>
<div class="column1-unit">
	<table>
	<tr>
		<th class="pic"></th>
		<th>Player</th>
		<th class="short">Points</th>
		<% for tournament in @report[:tournaments] %>
		<th class="short"><A href="<%= league_tournament_path(@league, tournament) %>"><%= tournament.formatted_start(:short) %></A></th>
		<% end %>
		<th></th>
	</tr>

	<% for player in @report[:players] %>
	<tr>
		<td class="pic"><%= link_to player.image_url_link, player %></td>		
		<td><a href="<%= player_path(player) %>"><%= player.full_name %></a></td>
		<td class="short"><%= @report[:points][player] %></td>
		<% for tournament in @report[:tournaments] %>
		<td class="short">
			<% if result = @report[:results][player][tournament] %>
				<%= result.points %> / <%= result.place %>
			<% end %>
		</td>
		<% end %>
		<td></td>
	</tr>
	<% end %>
	</table>
</div>
<hr class="clear-contentunit" />

<h1 class="block">League Financials</h1>
<div class="column1-unit">
	<% financials = @league.financials %>
	<table>
	<tr><td>Total Buy-ins</td><td><%= financials[0] %></td></tr>
	<tr><td>Less total payouts</td><td><%= financials[1] %></td></tr>
	<tr><td>Total in Prize Pool</td><td><%= financials[0] - financials[1] %></td></tr>
	</table>
</div>