<% breadcrumbs_for home_crumb, tournaments_crumb, tournament_crumb(@tournament) %>
</h1 class="block">Editing Tournament</h1>

<div class="column1-unit">
	<%= error_messages_for :tournament %>
</div>
<% unless @tournament.errors.empty? %>
	<hr class="clear-contentunit" />
<% end %>

<div class="column1-unit">
	<% form_for(@tournament) do |f| %>
	  <p>
	    <b>League</b><br />
	    <%= f.select :league_id, League.find(:all).collect {|l| [l.name, l.id]} %>
	   </p>

	  <p>
	    <b>Start</b><br />
	    <%= f.datetime_select :start %>
	  </p>

	  <p>
	    <b>Description</b><br />
	    <%= f.text_area :description %>
	  </p>

	  <p>
	    <b>Buyin</b><br />
	    <%= f.text_field :buyin %>
	  </p>

	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>

	<%= link_to 'Show', @tournament %> |
	<%= link_to 'List of All Tournaments for All Leagues', tournaments_path %>
</div>