<h1 class="block">List of All Players</h1>
<div class="column1-unit">
	<table>
	  <tr>
		<th class="pic">Pic</th>
	    <th>Player</th>
		<% if logged_in? %>
			<td><%= link_to 'New player', new_player_path %></td>
		<% end %>
	  </tr>

	<% for player in @players %>
	  <tr>
	    <td class="pic">
			<% if player.image_url %>
				<IMG style="width:36px; align:center;" SRC = "<%=player.image_url%>"/>
			<% end %>
		</td>
		<td>
			<%= link_to player.full_name, player %>
		</td>
		<% if logged_in? %>
	    <td><%= link_to 'Edit', edit_player_path(player) %> |
	    	<%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %>
		</td>
		<% end %>
	  </tr>
	<% end %>
	</table>
</div>