<% breadcrumbs_for home_crumb, players_crumb %>
<h1 class="block">Creating New player</h1>

<div class="column1-unit">
	<%= error_messages_for :player %>
</div>
<% unless @player.errors.empty? %>
	<hr class="clear-contentunit" />
<% end %>

<div class="column1-unit">
	<% form_for(@player) do |f| %>
	  <p>
	    <b>First</b><br />
	    <%= f.text_field :first %>
	  </p>

	  <p>
	    <b>Last</b><br />
	    <%= f.text_field :last %>
	  </p>


	  <p>
	    <b>Description</b><br />
	    <%= f.text_area :description %>
	  </p>

	  <p>
	    <b>Image Url</b><br />
	    <%= f.text_field :image_url %>
	  </p>

	  <p>
	    <%= f.submit "Create" %>
	  </p>
	<% end %>

	<%= link_to 'Back', players_path %>
</div>