<% breadcrumbs_for home_crumb, players_crumb, player_crumb(@player) %>
<h1 class="block">Biography</h1>
<div class="column1-unit">
	<img float="left" src="<%= @player.image_url.blank? ? "/images/players/_default.jpg" : player.image_url %>"/>
	<p>
		<%= @player.description %><br/>
	</p>
</div>
<hr class="clear-contentunit" />

<h1 class="block">Tournament Success</h1>
<div class="column1-unit">
	<table>
		<tr>
			<th>Tournament</th>
			<th>Result</th>
			<th>Points</th>
		</tr>
	<% for entry in @player.entries %>
		<tr>
			<th><%= link_to entry.tournament.league.name + '@' + entry.tournament.formatted_start, entry.tournament %></th>
			<th><%= entry.result %></th>
			<th><%= entry.points %></th>
		</tr>
	<% end %>
	</table>

	<% if logged_in? %>
		<%= link_to 'Edit', edit_player_path(@player) %> |
	<% end %>
	<%= link_to 'List of All Players', players_path %>
</div>