<h1 class="pageheader">Player <%=@player.full_name%></h1><br/>
<DIV>
	<IMG float="left" SRC="<%= @player.image_url%>"/>
	<p>
		<%= @player.description %><br/>
	</p>
	<p>(Image Url = "<%= @player.image_url%>")</p>
</DIV>
<table>
	<tr>
		<th>Tournament</th>
		<th>Result</th>
		<th>Points</th>
	</tr>
<% for entry in @player.entries %>
	<tr>
		<th><%= link_to entry.tournament.league.name + '@' + entry.tournament.formatted_start, entry.tournament %></th>
		<th><%= entry.result %></th>
		<th><%= entry.points %></th>
	</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
