<h1>New tstat</h1>

<%= error_messages_for :tstat %>

<% form_for(@tstat) do |f| %>
  <p>
    <b>Hero chips</b><br />
    <%= f.text_field :hero_chips %>
  </p>

  <p>
    <b>Small blind</b><br />
    <%= f.text_field :small_blind %>
  </p>

  <p>
    <b>Big blind</b><br />
    <%= f.text_field :big_blind %>
  </p>

  <p>
    <b>Ante</b><br />
    <%= f.text_field :ante %>
  </p>

  <p>
    <b>Current table size</b><br />
    <%= f.text_field :current_table_size %>
  </p>

  <p>
    <b>Number of players left</b><br />
    <%= f.text_field :number_of_players_left %>
  </p>

  <p>
    <b>Number of players at start</b><br />
    <%= f.text_field :number_of_players_at_start %>
  </p>

  <p>
    <b>Starting chips</b><br />
    <%= f.text_field :starting_chips %>
  </p>

  <p>
    <b>Added chips</b><br />
    <%= f.text_field :added_chips %>
  </p>

  <p>
    <b>Maximum table size</b><br />
    <%= f.text_field :maximum_table_size %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tstats_path %>
