<div style="padding: 10px">
	<b>Editing Tournament Entry for:</b>
	<% if button == "Update" -%>
		<h1><%= entry.player.full_name %></h1>
		<%= entries_form.hidden_field :player_full_name %>
	<% else -%>
		<b>Player Name</b><br />
		<%= entries_form.text_field :player_full_name, :autocomplete => "off", :id => "player_full_name_field_2" -%>
		<div class='auto_complete' id='auto_complete_list_2'></div><br />
		<%= auto_complete_field('player_full_name_field_2',
		                      :update => 'auto_complete_list_2', 
		                      :url => '/players/auto_complete_for_entry_player_full_name',
		                      :tokens => ',') %>
	<% end -%>
	<b>Paid</b><br />
	<%= entries_form.text_field :paid %><br />
	<b>Result</b><br />
	<%= entries_form.text_field :result %><br />
	<b>Payout</b><br />
	<%= entries_form.text_field :payout %><br />
	<b>Bonus Points</b><br />
	<%= entries_form.text_field :bonus_points %><br />
	<%= entries_form.hidden_field :tournament_id %>
	<%= entries_form.submit button %>
</div>