<div id='<%=id_prefix%><%=dom_id entry%>_tile' class="entries-tile">
	<div class="tile-square-numbox" id="dome2"><%= entry.result %></div>
	<div class="tile-picbox"><%= entry.player.image_url_link %></div>
	<div class="tile-textbox">
		<div class="tile-top-line"><%= link_to entry.player.full_name, entry.player %></div>
		<div class="tile-bottom-line">
			<div class="tile-bottom-left">
				<%= entry.paid.blank? or entry.paid == 0 ? "No Buyin" : "Buyin: $#{entry.paid}"-%><%= ("; Prize: $" + entry.payout.to_s) if entry.payout and entry.payout > 0 %>
			</div>
			<div class="tile-bottom-right">
				<strong><%=entry.points%> points</strong>
				<% if logged_in? %>
				| <%= link_to_remote 'Edit', :url => edit_tournament_entry_path(tournament, entry), :method => :get %> |
				<%= link_to_remote 'Destroy', :url => [tournament, entry], :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</div>
		</div>
	</div>
	<div  style="clear: both"></div>
</div>