<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@tournament.league), 
	league_tournament_crumb(@tournament.league, @tournament), tournament_entry_crumb(@tournament, @entry) %>
<h1 class="block">Editing Entry on <%= link_to @tournament.formatted_start, league_tournament_path(@tournament.league, @tournament) %></h1>

<div "column1-unit">
<%= error_messages_for :entry %>
</div>
<% unless @entry.errors.empty? %>
	<hr class="clear-contentunit" />
<% end %>

<div "column1-unit">
	<% form_for(@entry, :url => tournament_entry_path(@tournament, @entry)) do |f| %>
		<%= f.hidden_field :tournament_id %>

		<!-- <p>
		  <b>Player</b> or <%= link_to 'Add new Player', new_player_path %><br />
		  <%= f.select :player_id, @tournament.league.player_select_list %>
		</p> -->
		
		<p>
		  <b>Player Name</b><br />
		  <%= f.text_field :player_full_name %>
		</p>	

		<p>
		  <b>Paid</b><br />
		  <%= f.text_field :paid %>
		</p>

		<p>
		  <b>Result</b><br />
		  <%= f.text_field :result %>
		</p>

		<p>
		  <b>Payout</b><br />
		  <%= f.text_field :payout %>
		</p>

		<p>
		  <%= f.submit "Update" %>
		</p>
	<% end %>

	<%= link_to 'Show', tournament_entry_path(@tournament, @entry) %> |
	<%= link_to 'List of All Entries for this Tournament', tournament_entries_path(@tournament) %>
</div>