<div class="column1-unit">

<h2>
  <b>Player:</b>
  <%=h @entry.player.first %> <%=h @entry.player.last %>
</h2>

<h2>
  <b>Paid:</b>
  <%=h @entry.paid %>
</h2>

<h2>
  <b>Result:</b>
  <%=h @entry.result %>
</h2>

<h2>
  <b>Payout:</b>
  <%=h @entry.payout %>
</h2>

<% if logged_in? %>
	<%= link_to 'Edit', edit_tournament_entry_path(@tournament, @entry) %> |
<% end %>
<%= link_to 'List of All Entries for this Tournament', tournament_entries_path(@tournament) %>
</div>