<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@league), league_tournaments_crumb(@league), league_tournament_crumb(@league, @tournament) %>

<h1 class="block">Editing League Tournament on <%= @tournament.formatted_start %></h1>

<div class="column1-unit">
	<%= error_messages_for :tournament %>
</div>
<% unless @league.errors.empty? %>
	<hr class="clear-contentunit" />
<% end %>

<div class="column1-unit">
	<% form_for [@league, @tournament], :url => league_tournaments_path(@league, :method=>:post), :html => {:id=>"new_tournament_form"} do |f| %>
		<%= render :partial => "league_tournament_form", :object => @tournament, :locals=> {:f => f, :league => @league, :button_text=>"Update"} %>
		<%= link_to 'Show', [@league, @tournament] %> | <%= link_to 'Back', league_tournaments_path(@league) %>
	<% end %>
</div>