<h1 class="pagetitle"><%= link_to @league.name, league_path(@league) %> Tournaments</h1>

<h2>Starting at: <%=h @tournament.formatted_start %></h2>

<h2><%=h @tournament.description %></h2>

<h2>Buyin:<%=h @tournament.buyin %></h2>

<% if logged_in? %>
	<%= link_to 'Edit', edit_league_tournament_path(@league, @tournament) %> |
<% end %>
<%= link_to "List of All Tournaments for the #{@league.name}", league_tournaments_path(@league) %>

<h1 class="block">Results</h1>
<div class="column1-unit">
	<table>
	<tr>
		<th>Position</th>
		<th class="pic">Pic</th>
		<th>Player</th>
		<th>Points</th>
		<th>Buyin</th>
		<th>Payout</th>
		<% if logged_in? %>
			<td><%= link_to 'New Entry', new_tournament_entry_path(@tournament) %></td>
		<% end %>
	</tr>

	<% for entry in @tournament.entries.sort{|e1, e2| (e1.result || 0) <=> (e2.result || 0) } do %>
	<tr>
		<td><%= entry.result %></td>
		<td class="pic"><%= link_to entry.player.image_url_link, entry.player %></td>
		<td><%= link_to entry.player.full_name, entry.player %></td>
		<td><%= entry.points %></td>
		<td><%= entry.paid %></td>
		<td><%= entry.payout %></td>
		<% if logged_in? %>
			<td><%= link_to 'Edit', edit_tournament_entry_path(@tournament, entry) %> | 
				<%= link_to 'Delete', tournament_entry_path(@tournament, entry), :confirm => "Are you sure?", :method => :delete %></td>
		<% end %>
	</tr>
	<% end %>
	</table>
</div>
<hr class="clear-">

<h1 class="block">Financials</h1>
<div class="column1-unit">
	<% financials = @tournament.financials %>
	<table>
	<tr><th>Revenues:</th><td><%= financials[0] %></td></tr>
	<tr><th>Less Payouts:</th><td><%= financials[1] %></td></tr>
	<tr><th>Net to Prize Fund:</th><td><%= financials[0] - financials[1] %></td></tr>
	</table>
</div>