<h1 class="pagetitle"><%= link_to @league.name, league_path(@league) %> Tournament Standings</h1>

<h2>Starting at: <%=h @tournament.formatted_start %></h2>

<h2><%=h @tournament.description %></h2>

<h2>Buyin:<%=h @tournament.buyin %></h2>

<%= link_to 'Edit', edit_league_tournament_path(@league, @tournament) %> |
<%= link_to 'List of All Tournaments for the League', league_tournaments_path(@league) %>

<h1 class="block">Results</h1>
<table>
<tr>
	<th>Position</th>
	<th>Player</th>
	<th>Points</th>
	<th>Buyin</th>
	<th>Payout</th>
	<td><%= link_to 'New Entry', new_tournament_entry_path(@tournament) %></td>
</tr>

<% for entry in @tournament.entries.sort{|e1, e2| (e1.result || 0) <=> (e2.result || 0) } do %>
<tr>
	<td><%= entry.result %></td>
	<td><%= entry.player.first + " " + entry.player.last %></td>
	<td><%= entry.points %></td>
	<td><%= entry.paid %></td>
	<td><%= entry.payout %></td>
	<td><%= link_to 'Edit', edit_tournament_entry_path(@tournament, entry) %> | 
		<%= link_to 'Delete', tournament_entry_path(@tournament, entry), :confirm => "Are you sure?", :method => :delete %></td>
</tr>
<% end %>
</table>

<h1 class="block">Financials</h1>

<% financials = @tournament.financials %>
<table>
<tr><th>Revenues:</th><td><%= financials[0] %></td></tr>
<tr><th>Less Payouts:</th><td><%= financials[1] %></td></tr>
<tr><th>Net to Prize Fund:</th><td><%= financials[0] - financials[1] %></td></tr>
</table>
