<% breadcrumbs_for home_crumb, leagues_crumb, league_crumb(@league), league_tournaments_crumb(@league), league_tournament_crumb(@league, @tournament) %>

<h2>Starting at: <%=h @tournament.formatted_start %></h2>

<h2><%=h @tournament.description %></h2>

<h2>Buyin:<%=h @tournament.buyin %></h2>

<% if logged_in? %>
	<%= link_to 'Edit', edit_league_tournament_path(@league, @tournament) %> |
<% end %>
<%= link_to "List of All Tournaments for the #{@league.name}", league_tournaments_path(@league) %>

<h1 class="block">Results</h1>

<%= render :partial => 'tournament_entries/error_messages' %>
<div class="column1-unit">
	<%= render :partial => 'tournament_entries/new_form', :locals => {:tournament => @tournament, :entry => @entry} %>
	<ul id="tile-list" class="tile-list" style="float:left">
		<li id="sentry" style="display:none">This is a sentry</li>
		<% for entry in @tournament.entries.sort{|e1, e2| (e1.result || 0) <=> (e2.result || 0) } do -%>
			<%= render :partial => "tournament_entries/entries_tile_row", :locals => {:tournament => @tournament, :entry => entry, :id_prefix => ''} %>
		<% end -%>
	</ul>
</div>
<hr class="clear-contentunit">

<h1 class="block">Financials</h1>
<div class="column1-unit">
	<% financials = @tournament.financials %>
	<table>
	<tr><th>Revenues:</th><td><%= financials[0] %></td></tr>
	<tr><th>Less Payouts:</th><td><%= financials[1] %></td></tr>
	<tr><th>Net to Prize Fund:</th><td><%= financials[0] - financials[1] %></td></tr>
	</table>
</div>