<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="Your publisher infos here ..." />
  <meta name="copyright" content="Your copyright infos here ..." />
  <meta name="author" content="Design: G. Wolfgang www.1-2-3-4.info / Author: Your author infos here ..." />
  <meta name="distribution" content="global" />
  <meta name="description" content="Your page description here ..." />
  <meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'layout1_setup' %>
  <%= stylesheet_link_tag 'layout1_text' %>
  <title><%= controller.controller_name.capitalize %>: <%= controller.action_name %></title>

</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
  <!-- Main Page Container -->
  <div class="page-container">

   <!-- For alternative headers START PASTE here -->

    <!-- A. HEADER -->      
    <div class="header">
      

      
      <!-- A.2 HEADER MIDDLE -->
      <div class="header-middle">    
        <!-- Site message -->
       <div class="sitemessage">
         <h1>AMARILLO POKER BRATZ</h1>
          <h2>Tournament Results</h2>
         </div>        
       </div>
      
      <!-- A.3 HEADER BOTTOM -->
      <div class="header-bottom">
      
        <!-- Navigation Level 2 (Drop-down menus) -->
        <div class="nav2">
	
          <!-- Navigation item -->
          <ul>
            <li><a href="http://www.badbeatbratz.com">Home</a></li>
          </ul>
          

		  <% for league in League.find(:all) %>
            <!-- Navigation item -->
			<ul>
		  	<li><a href="<%= league_path league %>"><%= league.name %><!--[if IE 7]><!--></a><!--<![endif]-->
			</ul>
		  <% end %>

          <!-- Navigation item -->
          <ul>
            <li><a href="/players">Players<!--[if IE 7]><!--></a><!--<![endif]-->
          </ul>

		  <% if logged_in? %>
	          <!-- Navigation item -->
	          <ul>
	            <li><a href="#">Databases<!--[if IE 7]><!--></a><!--<![endif]-->
	              <!--[if lte IE 6]><table><tr><td><![endif]-->
	                <ul>
	                  <li><a href="/players">Players</a></li>
	                  <li><a href="/leagues">Leagues</a></li>
	                  <li><a href="/tournaments">Tournaments</a></li>
	                  <li><a href="/entries">Entries</a></li>
	                </ul>
	              <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	            </li>
	          </ul>          

	          <!-- Navigation item -->
	          <ul>
	            <li><a href="/sessions/destroy">Logout: <%=current_user.login%><!--[if IE 7]><!--></a><!--<![endif]-->
	            </li>
	          </ul>
          <% end %>
        </div>
	  </div>

      <!-- A.4 HEADER BREADCRUMBS -->

      <!-- Breadcrumbs -->
      <div class="header-breadcrumbs">
      </div>
    </div>
   <!-- For alternative headers END PASTE here -->

    <!-- B. MAIN -->
    <div class="main">  
      <!-- B.1 MAIN CONTENT -->
      <div class="main-content">
          <%= yield %>
	  </div>
	</div>
    <!-- C. FOOTER AREA -->      

    <div class="footer" style="margin: 0 0 0 0; outline: green 1pt solid">
      <p>Copyright &copy; 2007 Judi Glidewell | All Rights Reserved</p>
    </div>      
  </div>
</body>
</html>



